<h1>Editing Problem</h1>
 
<%= form_for :problemtoedit, url: "/contests/#{params[:contest_id]}/problems/#{params[:id]}", method: :patch do |f| %>
 
  <p>
   <b> <%= f.label :Problem_name %> </b>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <b> Problem Statement </b>
    <br>
    <%= f.text_area :statement, :rows => "25", :cols => "50" %>
  </p>
  
  <p>
   <b> <%= f.label :Time_limit %> </b>
    <%= f.text_field :timelimit %>
  </p>
  
  <p>
    <b> <%= f.label :Memory_limit %> </b>
    <%= f.text_field :memory %>
  </p>
  
  <p>
    <%= f.submit "Add Problem" %>
  </p>
 
<% end %>
 
<%= link_to 'Back', "/contests/contestadded" %>
