<html>
<!-- Back to Home Button -->
<div style = "top:2%; left: 80%; position: relative">
	<%= form_tag({controller: "welcome", action: "main"}, method: "get") do %>
	<%= submit_tag("Back to Home") %>
	<% end %>
  </div>

<!-- Check if admin or user -->
<!-- If admin, give option to add problems and display list of problems-->
<!-- If user, show problems if contest has started else show the remaining time -->

<!--Admin-->
<!-- Displaying Contest Details -->
<div style="top: 0%; left: 38%; position: absolute;"> 
<h1><%= @ourcontest.name %></h1>
</div>
<div style="top: 15%; left: 2%; position: absolute;"> 
<h2> Date: <%=  @ourcontest.start %> </h2>
<h2> Duration: <%=  @ourcontest.end %></h2>
</div>
<!-- Accessing the list of problems added to the contest and updating it -->
<div style="top: 30%; left: 2%; position: absolute;"> 
 
<p><b>PROBLEMS</b> &nbsp &nbsp <%= link_to "Add New Problem", "/ourcontests/#{@ourcontest.id}/ourproblems/new"  %>
    <% prefix = 'public/problems/problems_list' %>
    <% filename = "#{@ourcontest.id}.txt" %>
    <% fullname = prefix + filename%>
    <% if File.exist?(fullname) %>
    <% counter = 1 %>
    <% File.readlines(fullname).each do |line| %>
    	<br>
    		<% if line.to_s != "\n" %>
		<%= counter.to_s + '.' %>
		<%= line %>
		<% @problemedit = Problem.find_by! name: line.to_s %>
		 &nbsp &nbsp &nbsp <%=link_to "Edit", "/ourcontests/#{@ourcontest.id}/ourproblems/#{@problemedit.id}/edit" %> 
		 <% counter = counter + 1 %>
		<% end %>
	<% end %>
	
    <% else %>
    <br>
     <%= "No Problems Added Yet" %>
    <% end %>
    
  </p>  
  </p>
  </div>
  <br>

<!-- User -->
<div style="top: 60%; left: 2%; position: absolute;"> 
<% current = Time.zone.now  %> 
<% contestBegin = @ourcontest.start  %> 
<% contestEnd = @ourcontest.end  %>
<% condition1 = contestBegin <= current %>
<% condition2 = contestEnd >= current %>
<% if condition1 && condition2 %>
<p><b>PROBLEMS</b> &nbsp &nbsp
    <% prefix = 'public/problems/problems_list' %>
    <% filename = "#{@ourcontest.id}.txt" %>
    <% fullname = prefix + filename%>
    <% if File.exist?(fullname) %>
    <% counter = 1 %>
    <% File.readlines(fullname).each do |line| %>
    	<br>
    		<% if line.to_s != "\n" %>
		<%= counter.to_s + '.' %>
		<%= line %>
		<% @problemedit = Problem.find_by! name: line.to_s %>
		 &nbsp &nbsp &nbsp <%=link_to "Edit", "/contests/#{contestretrieve.id}/problems/#{@problemedit.id}/edit" %> 
		 <% counter = counter + 1 %>
		<% end %>
	<% end %>
	
    <% else %>
    <br>
     <%= "No Problems Added Yet" %>
    <% end %>
    
  </p>  
  </p>
  <%= "Contest is in progress" %>
  <% seconds = contestEnd - current %>
	<% mm, ss = seconds.divmod(60) %>           
	<% hh, mm = mm.divmod(60) %>          
	<% dd, hh = hh.divmod(24) %>
	<% ss = ss.to_i %>
	<% dd = dd.to_i %>          
	<b>
	<h2>
	<%= timeLeft = dd.to_s+"days "+hh.to_s + "hours " + mm.to_s + "minutes " + ss.to_s + "seconds left!" %>
	</h2>
 <% elsif condition1 %>
  <%= "Contest has ended" %>
 <% else %>
  <% seconds = contestBegin - current %>
	<% mm, ss = seconds.divmod(60) %>           
	<% hh, mm = mm.divmod(60) %>          
	<% dd, hh = hh.divmod(24) %>
	<% ss = ss.to_i %>
	<% dd = dd.to_i %>          
	<b>
	<h2>
	<%= "Contest hasn't started!" %><br>
	<%= timeLeft = dd.to_s+"days "+hh.to_s + "hours " + mm.to_s + "minutes " + ss.to_s + "seconds to go!" %>
	</h2>
	</b> 
 <%end%>
 </div>
</html>
