<html>
<!-- Check if admin or user -->
<!-- If admin, give option to add problems and display list of problems-->
<!-- If user, show problems if contest has started else show the remaining time -->

<!-- Displaying Contest Details -->
<div style="top: 2%; left: 35%; position: absolute;"> 
<h1><%= @ourcontest.name %> &nbsp (<%= @ourcontest.code %>)</h1>
</div>
<div style="top: 15%; left: 2%; position: absolute;"> 
<h2> Start: <%=  @ourcontest.start.to_time.strftime('%a, %b %d %Y %H:%M') %> </h2>
<h2> End: <%=  @ourcontest.end.to_time.strftime('%a, %b %d %Y %H:%M') %></h2>
</div>

<!--Admin View-->
<% if current_user.admin? %>
<!-- Accessing the list of problems added to the contest and updating it -->
<div style="top: 30%; left: 2%; position: absolute;"> 
 
<p><b>PROBLEMS</b> &nbsp &nbsp <%= link_to "Add New Problem", "/ourcontests/#{@ourcontest.id}/ourproblems/new",:style=>'color:#FFFFFF;'  %>
    <% prefix = 'public/problems/problems_list' %>
    <% filename = "#{@ourcontest.id}.txt" %>
    <% fullname = prefix + filename%>
    <% if File.exist?(fullname) %>
    <% counter = 1 %>
    <% File.readlines(fullname).each do |line| %>
    		<% if line.to_s != "\n" %>
		<% @problemedit = Ourproblem.find_by id: line.to_s %>
		 <% if @problemedit %>
		 <br>
		 <%= counter.to_s + '.' %>
		 <%= @problemedit.name %>
		  &nbsp &nbsp 
		  <%= link_to "View", "/ourcontests/#{@ourcontest.id}/ourproblems/#{@problemedit.id}",:style=>'color:#FFFFFF;' %>
		  &nbsp
		  <%= link_to "Edit", "/ourcontests/#{@ourcontest.id}/ourproblems/#{@problemedit.id}/edit",:style=>'color:#FFFFFF;' %>
		  <% counter = counter + 1 %>
		 <% end %>
		<% end %>
	<% end %>
	
    <% else %>
    <br>
     <%= "No Problems Added Yet" %>
    <% end %>
    
  </p>  
  </p>
  </div>
  <br>
  
<% else %>
<!--User View -->
<div style="top: 30%; left: 2%; position: absolute;"> 
<% current = Time.zone.now  %> 
<% contestBegin = @ourcontest.start  %> 
<% contestEnd = @ourcontest.end  %>
<% condition1 = contestBegin <= current %>
<% condition2 = contestEnd >= current %>
<% if condition1 && condition2 %>
 <h3> <%= "Contest is in progress!" %> </h3>
<!-- Submit Button -->
<p><b>PROBLEMS</b> &nbsp &nbsp
    <% prefix = 'public/problems/problems_list' %>
    <% filename = "#{@ourcontest.id}.txt" %>
    <% fullname = prefix + filename%>
    <% if File.exist?(fullname) %>
    <% counter = 1 %>
    <% File.readlines(fullname).each do |line| %>
    		<% if line.to_s != "\n" %>
		<% @problemedit = Ourproblem.find_by id: line.to_s %>
		 <% if @problemedit %>
		 <br>
		 <%= counter.to_s + '.' %>
		 <%= @problemedit.name %>
		  &nbsp &nbsp
		  <%= link_to "View", "/ourcontests/#{@ourcontest.id}/ourproblems/#{@problemedit.id}",:style=>'color:#FFFFFF;' %>
		  <% counter = counter + 1 %>
		  <% end %>
		<% end %>
	<% end %>
	
    <% else %>
    <br>
     <%= "No Problems Added Yet" %>
    <% end %>
    
  </p>  
  </p>
  <% seconds = contestEnd - current %>
	<% mm, ss = seconds.divmod(60) %>           
	<% hh, mm = mm.divmod(60) %>          
	<% dd, hh = hh.divmod(24) %>
	<% ss = ss.to_i %>
	<% dd = dd.to_i %>          
	<b>
	<h2>
	<%= timeLeft = dd.to_s+"days "+hh.to_s + "hours " + mm.to_s + "minutes " + ss.to_s + "seconds left!" %>
	</h2>
	 <h3> <%= link_to "Submit", "/ourcontests/#{@ourcontest.id}/submit",:style=>'color:#FFFFFF;' %> </h3>
 <% elsif condition1 %>
  <%= "Contest has ended" %>
 <% else %>
  <% seconds = contestBegin - current %>
	<% mm, ss = seconds.divmod(60) %>           
	<% hh, mm = mm.divmod(60) %>          
	<% dd, hh = hh.divmod(24) %>
	<% ss = ss.to_i %>
	<% dd = dd.to_i %>          
	<b>
	<h2>
	<%= "Contest hasn't started!" %><br>
	<%= timeLeft = dd.to_s+"days "+hh.to_s + "hours " + mm.to_s + "minutes " + ss.to_s + "seconds to go!" %>
	</h2>
	</b> 
 <% end %>
<% end %>
 </div>
</html>
